
<div class="well well-sm task clickable-div" value="<%=task.id %>">
<%=task.name %><span class="badge pull-right clickable-div"><sm>Time : <%=task.hours %> hrs  :  <%=task.minutes %> mins</sm></span></div>


