

<div class="row">
	<div class="col-sm-4 col-sm-offset-1">
		<h2 id="time_record_header">Start something new</h2>
		
	</div>
</div>

<div class="row">
   
      <div class="col-sm-4 col-sm-offset-1">

        <%= render "notes_form" %>

      </div>



      <div class"col-sm-6">


        <%= render "clock" %>

        <%= render "new_task" %>
      
   

  
  <%= render "time_record_form" %>
  </div>
</div>




