// Place all the styles related to the time_records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#bigredbutton{


	color: white;

}

.clickable-div{
	
	cursor: pointer;

}

.blue{
	height: 200px;
	width: 200px;

	
	background-color: blue;	

}

.red{
	height: 500px;
	width: 500px;
	
	background-color: red;	

}